@import '../../sass/index.scss';

.delete_modal{
    z-index: 500;
    @include position;
    @include flex;
    background-color: rgba(0, 0, 0, 0.735);
    &_content{
        @include position(absolute, 80px, auto, auto, auto);
        @include flex(column, center, center);
        padding: 15px;
        border-radius: 10px;
        font-size: clamp(1rem, 3.5vw, 1.1rem); 
        letter-spacing: 1px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.291);
        background-color: $color-bg;
        opacity: 0;
        animation : show 0.2s ease-in-out forwards;
        @media screen and (max-width: 500px){
            width: 100%;
            border-radius: 0; 
        }
        .delete_info{
            text-align: center;      
            p{
                margin-bottom: 10px;
            }
            div{
                display: flex;
                button{
                    @include btn-connection;
                    display: flex;
                    font-size: clamp(1rem, 3.5vw, 1.1rem); 
                }
                button:nth-child(1){
                    &:focus,
                    &:hover{
                        color: $color-focus;
                    }
                }
                button:nth-child(2){
                    &:focus,
                    &:hover{
                        color: crimson;
                    }
                }
            }
        }
    }
};






