@import '../../sass/index.scss';

.post{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 700px;
    max-width: 90%;
    box-shadow:  inset 2px 2px 5px #BABECC, inset -5px -5px 10px rgb(214, 214, 214);
    border-radius: 10px;
    padding: 15px;
    background-color: #ecf0f3;
    &_header{
        position: relative;
        display: flex;
        align-items: center;
        gap: 10px;
        &_btn{
            @include btn-hidden;
            margin-left: auto;
        }
        &_info{
            display: flex;
            flex-direction: column;
            gap: 2px;
            .date{
                font-size: 12px;
                color: #4D4D4D;
            }
        }
        img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
        }
        &_menu{
            position: absolute;
            top: 40px;
            right: 0;
            border-radius: 5px;
            overflow: hidden;
            background-color: #ecf0f3;
            box-shadow: 0 0 10px rgba(0,0,0,0.5);  
        }
    }
    &_content{
        h2{
            font-size: clamp(1.1rem, 3.5vw, 1.2rem); 
        }
        img{
            margin: 5px 0;
            width: 100%;
            max-height: 400px;
            object-fit: cover;
        }
    }
    &_footer{
        display: flex;
        align-items: center;
        gap: 5px;
        &_btn{
            @include btn-hidden;
        }
    }
    &_header_btn, 
    &_btn{
        @include btn-hidden;
    }
};