@import '../../sass/index.scss';

.register{
    height: 100vh;
    @include flex;
    @include background;
    .card{
        display: flex;
        flex-direction: row-reverse;
        max-width: 800px;
        min-height: 400px;
        width: 90%;
        border-radius: 10px;
        background-color:white;
        overflow: hidden;
            &_right{
                @include flex(column, space-between, center);
                flex: 1;
                background-image: linear-gradient(#4e5166ac 5%, rgba(255, 255, 255, 0.145)), url('../../assets/bg-register-card.jpg');
                background-size: cover;
                background-position: center;
                padding: 20px;
                letter-spacing: 1px;
                    img{
                        width: 100%;
                        object-fit: contain;
                        object-position:50% 40%;
                    }
                    p{
                        font-size: 1rem;
                        a{
                            position: relative;
                            color: royalblue;
                            &::after{
                                content: '';
                                position: absolute;
                                width: 0%;
                                height: 2px;
                                background-color: royalblue;
                                left: 0;
                                bottom: -5px;
                                transition: all 0.2s ease-in-out;
                            }
                            &:hover::after{
                                width: 100%;
                            }
                        }
                        
                    }
            }
            &_left{
                flex: 1;
                padding: 20px;
                background-color: $color-bg;
                    h2{
                        text-align: center;
                        margin-bottom: 30px;
                    }              
    }
};

.form{
    &_control{
        display: flex;
        flex-direction: column;
        position: relative;
        margin-bottom: 50px;   
        div{
            position: absolute;
            top: 15px;
            right: 15px;
            cursor: pointer;
        }
        p{
            position: relative;
            top: 20px;
            color: $color-primary;
            text-align: center;
        }
        input{
            @include form-input;
        }
        label{
            font-size: 1.2rem;
            position: absolute;
            top: 15px;
            left: 15px;
            pointer-events: none;
            transition: all 0.2s ease-in-out;
        }
        .animLabel{
            color: royalblue;
            transform: translateY(-25px);
            font-size: 1.1rem;
            transition: all 0.2s ease-in-out;
        }
    }
    button{
        @include btn;
        display: block;
	    margin: 0 auto;
    }}  
};

//MODAL INPUT VALIDATION
.success{
    position: absolute;
    @include flex;
    top: 50px;
    width: 200px;
    height: 80px;
    border-radius: 10px;
    font-size: 1.3rem;
    color: white;
    letter-spacing: 1px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.291);
    background-color: rgba(0, 128, 0, 0.441);
    opacity: 0;
    animation : show 0.5s ease-in-out forwards;
}

@keyframes show{
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}