@import '../../sass/index.scss';

.scrollToTop {
    @include position(fixed, auto, 50px, 50px, auto);
    opacity: 0;
    visibility: hidden;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    background-color: $color-secondary;
    color: $color-dark;
    transition: all .1s ease-in-out;

    @media screen and (max-width: 910px) {
        background-color: $color-dark;
        color: $color-secondary;
        right: 20px;
        bottom: 25px;
    }

    &:hover {
        color: $color-primary;
    }

    &:active {
        transform: scale(0.95);
    }

    svg {
        font-size: clamp(2.5rem, 2.5vw, 3rem);
    }
}

.active {
    opacity: 1;
    visibility: visible;
}