@import '../../sass/index.scss';

.comments {
    &_form{
        @include flex($direction: row, $justify: unset, $align: unset, $gap: 2rem);
        height: 40px;
        @media screen and (max-width: 500px){
            height: auto;
            flex-wrap: wrap;
            gap: 1rem;
        }
        div{
            @include flex($direction: row, $justify: unset, $align: unset, $gap: 2rem);
            height: 40px;
            width: 100%;
            @media screen and (max-width: 500px){
                gap: 10px;
            }
            img{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
                object-position: center;
            }
            input{
                flex: 2;
                @include form-input;
            }
        }
        button{
            @include btn($color: $color-secondary, $bg: $color-dark, $hover-bg: $color-primary, $hover-color: $color-secondary);
            @media screen and (max-width: 500px){
                display: block;
                width: 100%;
            }
        }  
    }
    &_list{
        @include flex($direction: column, $justify: unset, $align: unset, $gap: 2rem);
        li:nth-child(1){
            margin-top: 20px;
        }
        &_item{
            @include flex($direction: column, $justify: unset, $align: unset, $gap: 1rem);
            div{
                @include flex($direction: row, $justify: unset, $align: flex-end, $gap: 2rem);
                h3{
                    font-size: clamp(1.6rem, 1.6vw, 1.6rem);
                }
                img{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                    object-position: center;
                }
                a{
                    height: fit-content;
                    &:hover{
                        color: $color-primary;
                    }
                }
            }
            p{
                width: 100%;
                border-radius: 10px;
                padding: 10px;
                font-size: clamp(1.6rem, 1.8vw, 1.8rem);
                background-color: #0000000c;
            }
            .info{
                @include flex($direction: row, $justify: space-between, $align: center, $gap: 4rem);
                color: #4D4D4D;
                svg{
                    font-size: clamp(1.8rem, 2vw, 2.2rem);
                }
                span{
                    align-self: flex-start;
                    font-size: clamp(1.4rem, 1.4vw, 1.4rem);
                }
                button{
                    :hover{
                        color: crimson;
                    }
                }
            }
        }
    }
};