.navbar{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 40px;
    border-bottom: 1px solid #00000028;
    background-color: #ecf0f3;
    &_left{
        position: relative;
        display: flex;
        gap: 60px;
        input{
            outline: none;
            border: none;
            width: 400px;
            font-size: 1.2rem;
            border-bottom: 2px solid transparent;
            padding: 15px;
            border-radius: 10px;
            box-shadow: inset 8px 8px 8px #cbced1,
                        inset -8px -8px 8px rgb(255, 255, 255);
            &:focus{
                border-bottom: 2px solid royalblue;
                transition: all 0.2s ease-in-out;
            }
        }
        .logo_search{
            position: absolute;
            top: 50%;
            height: 20px;
            transform: translateY(-50%);
            right: 10px;
        }
        img{
            width: 50px;
            height: 50px;
        }
    }
    &_user{
        display: flex;
        align-items: center;
        gap: 60px;
        img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
            box-shadow: -3px -3px 7px #ffffff,
                        3px 3px 5px rgba(94, 104, 121, .288);
        }
        .logout{
            cursor: pointer;
            font-size: 25px;
            color: rgb(0, 0, 0);
        }
    }
}
