@import '../../sass/index.scss';

.profile {
    position: relative;
    z-index: 0;
    min-height: calc(100vh - 80px);
    @include flex($direction: column, $justify: unset, $align: center, $gap: 2rem);
    padding: 20px 0;
    background-color: $color-primary;

    &_card {
        position: relative;
        margin-top: 100px;
        border-radius: 10px;
        width: 20rem;
        background-color: $color-secondary;
        padding: 20px;
        box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px rgb(214, 214, 214);

        &_head {
            position: absolute;
            padding: 5px;
            top: -100px;
            left: 50%;
            transform: translateX(-50%);
            width: 20rem;
            height: 20rem;
            border-radius: 50%;
            box-shadow: -3px -3px 7px #ffffff35,
                3px 3px 5px rgba(94, 104, 121, 0.566);

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
            }

            label {
                @include flex($direction: row, $justify: center, $align: center, $gap: 0);
                position: absolute;
                right: 1rem;
                bottom: 1rem;
                padding: 1rem;
                border-radius: 50%;
                border: none;
                background-color: $color-primary;
                color: $color-secondary;
                cursor: pointer;
                transition: all .1s ease-in-out;

                &:hover {
                    background-color: $color-dark;
                }

                svg {
                    font-size: clamp(2rem, 2.5vw, 3rem);
                }
            }
        }

        &_infos {
            margin-top: 100px;

            h2 {
                text-align: center;
                font-size: clamp(2.5rem, 2.5vw, 3rem);
                color: rgba(50, 48, 48, 0.933);
            }

            .error {
                color: $color-error;
                text-align: center;
                margin-top: 10px;
            }
        }
    }
}