*,
::before,
::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

$color-primary: #FD2D01;
$color-secondary: #FFD7D7;
$color-tertiary: #4E5166;

*::selection {
	background: $color-tertiary;
	color: white;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

button {
	cursor: pointer;
}

//MIXIN

@mixin flex($justify: center, $align: center) {
	display: flex;
	justify-content: $justify;
	align-items: $align;
}

@mixin btn {
	padding: 5px 10px;
	border-radius: 10px;
	font-size: 1.1rem;
	border: none;
	box-shadow: -2px -2px 5px #fff, 2px 2px 5px #BABECC;
	transition: all 0.2s ease-in-out;
	&:active{
		box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #fff;
	}
}