@import '../../sass/index.scss';

.comments {
    &_form{
        display: flex;
        height: 40px;
        gap: 20px;
        @media screen and (max-width: 500px){
            height: auto;
            flex-wrap: wrap;
            gap: 10px;
        }
        div{
            display: flex;
            height: 40px;
            gap: 20px;
            width: 100%;
            @media screen and (max-width: 500px){
                gap: 10px;
            }
            img{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
                object-position: center;
            }
            input{
                flex: 2;
                @include form-input;
                @media screen and (max-width: 500px){
                }
            }
        }
        button{
            @media screen and (max-width: 500px){
                display: block;
                width: 100%;
            }
        }  
    }
    &_list{
        display: flex;
        flex-direction: column;
        gap: 20px;
        li:nth-child(1){
            margin-top: 20px;
        }
        &_item{
            div{
                display: flex;
                img{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                    object-position: center;
                }
                a{
                    height: 100%;
                    margin-left: 10px;
                }
            }
            p{
                margin: 5px auto;
                border-radius: 10px;
                padding: 10px;
                background-color: #0000000c;
            }
            .info{
                display: flex;
                align-items: center;
                gap: 40px;
                padding-left: 50px;
                font-size: 12px;
                color: #4D4D4D;
                span{
                    align-self: flex-start;
                }
                button{
                    @include btn-hidden;
                    margin-left: auto;
                    :hover{
                        color: crimson;
                    }
                }
            }
        }
    }
};