@import '../../sass/index.scss';

.comments {
    display: flex;
    flex-direction: column;
    gap: 15px;
    &_form{
        display: flex;
        height: 40px;
        gap: 20px;
        @media screen and (max-width: 500px){
            height: auto;
            flex-wrap: wrap;
            gap: 10px;
        }
        div{
            display: flex;
            height: 40px;
            gap: 20px;
            width: 100%;
            @media screen and (max-width: 500px){
                gap: 10px;
            }
            label{
                img{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                    object-position: center;
                    @media screen and (max-width: 500px){
                       
                    }
                }
            }
            input{
                flex: 2;
                @include form-input;
                @media screen and (max-width: 500px){
                }
            }
        }
        button{
            @media screen and (max-width: 500px){
                display: block;
                width: 100%;
            }
        }  
    }
    &_list{
        display: flex;
        flex-direction: column;
        gap: 20px;
        &_item{
            border-bottom: 1px solid #0000002c;
            img{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
                object-position: center;
            }
            div{
                display: flex;
                a{
                    margin-left: 5px;
                }
                .info{
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    margin-left: auto;
                    font-size: 12px;
                    color: #4D4D4D;
                    button{
                        @include btn-hidden;
                        margin-left: auto;
                        :hover{
                            color: crimson;
                        }
                    }
                }
            }
            p{
                padding: 0 45px
            }
        }
    }
};