@import '../../sass/index.scss';

.navbar{
    position: relative;
    z-index: 900;
    position: sticky;
    top: 0;
    @include flex(row, space-between, center);
    height: 80px;
    padding: 0 60px;
    border-bottom: 2px solid #0000002c;
    background-color: $color-bg;
    @media screen and (max-width: 700px){
        justify-content: space-around;
        padding: 10px 0;
        width: 100%;
    }
    &_left{
        display: flex;
        align-items: center;
        gap: 60px;
        @media screen and (max-width: 700px){
            gap: 5px;
        }
        h1{
            width: 45px;
            height: 45px;  
            a{
                display: block;
                width: 100%;
                height: 100%;
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
            }        
        }
    }
    &_user{
        display: flex;
        align-items: center;
        gap: 20px;
        @media screen and (max-width: 700px){
            gap: 10px;
        }
        button{
            cursor: pointer;
            padding: 5px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: none;
            object-fit: cover;
            object-position: center;
            background-color: transparent;
            box-shadow: -3px -3px 7px #ffffff,
                        3px 3px 5px rgba(94, 104, 121, .288);
            &:active{
                box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #fff;
            }
            &:focus-visible{
                border: none;
                outline: 1px solid rgb(0, 0, 0);
            }
            img{
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
                object-position: center;
            }
        }
        .menu_table{
            @include position(absolute, 78px, 10px, auto, auto);
            border-radius: 5px;
            overflow: hidden;
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
            opacity: 0;
            visibility: hidden;
            background-color: transparent;
            transition: all 0.2s ease-in-out;
            @media screen and (max-width: 700px){
                width: 100%;
                top: 70px;
                left: 0;
                overflow: visible;
                box-shadow:none;
                border-bottom: 2px solid #0000002c;
            }
            &_item{
                display: flex;
                align-items: center;
                gap: 5px;
                width: 100%;
                outline: none;
                padding: 10px;
                background-color: $color-bg;
                &:hover,
                &:focus{
                    background-color: #c5cace;
                }
            }
            li:nth-child(3) a:hover,
            li:nth-child(3) a:focus{
                background-color: crimson;
                color: white;
            }     
        }
        .visible{
            opacity: 1;
            visibility: visible;
        }
        span{
            white-space: nowrap;
            @media screen and (max-width: 450px){
                display: none;
            }
        }
    }
};